<div class="container">
	<div class="navbar">
		<!-- Left content -->
		<div class="navbar__left">
			<!-- Brand -->
			<a href="#" class="navbar__brand">
				<img src="./assets/img/website/logotype.svg" alt="Logo LENSORA"
			/></a>

			<!-- Main Navigation -->
			<ul class="navbar__menu">
				<li class="navbar__item">
					<a href="#" class="navbar__link"> About </a>
				</li>

				<li class="navbar__item navbar__item--has-dropdown">
					<a href="#" class="navbar__link">
						Shop
						<span class="navbar__arrow">
							<img src="./assets/icons/chevron-down.svg" alt="" />
						</span>
					</a>

					<!-- Mega menu -->
					<div class="mega-menu">
						<div class="mega-menu__inner container">
							<div class="row">
								<!-- Left content -->
								<div class="mega-menu__categories col-2">
									<!-- Camera -->
									<div class="mega-menu__group">
										<h3 class="mega-menu__title">Cameras</h3>

										<span class="separate-line"></span>

										<ul class="mega-menu__links">
											<li><a href="#">Sony</a></li>
											<li><a href="#">Fujifilm</a></li>
											<li><a href="#">Canon</a></li>
											<li><a href="#">Leica</a></li>
											<li><a href="#">Nikon</a></li>
										</ul>
									</div>

									<span class="divider"></span>

									<!-- Lenses -->
									<div class="mega-menu__group">
										<h3 class="mega-menu__title">Lenses</h3>

										<span class="separate-line"></span>

										<ul class="mega-menu__links">
											<li><a href="#">Sony</a></li>
											<li><a href="#">Sigma</a></li>
											<li><a href="#">Tamron</a></li>
											<li><a href="#">Viltrox</a></li>
											<li><a href="#">Canon</a></li>
										</ul>
									</div>

									<span class="divider"></span>

									<!-- Accessories -->
									<div class="mega-menu__group">
										<h3 class="mega-menu__title">Accessories</h3>

										<span class="separate-line"></span>

										<ul class="mega-menu__links">
											<li><a href="#">Bags & Straps</a></li>
											<li><a href="#">Batteries</a></li>
											<li><a href="#">Memory Cards</a></li>
										</ul>
									</div>
								</div>

								<!-- Right content -->
								<div class="mega-menu__featured col-9 offset-1">
									<a href="#" class="featured-card">
										<div class="featured-card__img">
											<img
												src="./assets/img/website/header/best-seller.png"
												alt="Best selling cameras and lenses" />
										</div>

										<div class="featured-card__content">
											<h3 class="featured-card__title">Best seller</h3>
											<p class="featured-card__count">123 products</p>
										</div>
									</a>

									<a href="#" class="featured-card">
										<div class="featured-card__img">
											<img
												src="./assets/img/website/header/cameras.png"
												alt="Best selling cameras and lenses" />
										</div>

										<div class="featured-card__content">
											<h3 class="featured-card__title">Cameras</h3>
											<p class="featured-card__count">123 products</p>
										</div>
									</a>

									<a href="#" class="featured-card">
										<div class="featured-card__img">
											<img
												src="./assets/img/website/header/lens.png"
												alt="Best selling cameras and lenses" />
										</div>

										<div class="featured-card__content">
											<h3 class="featured-card__title">Lenses</h3>
											<p class="featured-card__count">123 products</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="navbar__item navbar__item--has-dropdown">
					<a href="/courses" class="navbar__link">
						Courses
						<span class="navbar__arrow">
							<img src="./assets/icons/chevron-down.svg" alt="" />
						</span>
					</a>

					<!-- Mega menu -->
					<div class="mega-menu">
						<div class="mega-menu__inner container">
							<div class="row">
								<!-- Left content -->
								<div class="mega-menu__categories col-2">
									<!-- Camera -->
									<div class="mega-menu__group">
										<h3 class="mega-menu__title">PHOTOGRAPHY BASICS</h3>

										<span class="separate-line"></span>

										<ul class="mega-menu__links">
											<li><a href="#">Camera Fundamentals</a></li>
											<li><a href="#">Exposure Triangle</a></li>
											<li><a href="#">Focus & Autofocus</a></li>
											<li><a href="#">Composition</a></li>
											<li><a href="#">Understanding Light</a></li>
										</ul>
									</div>

									<span class="divider"></span>

									<!-- Lenses -->
									<div class="mega-menu__group">
										<h3 class="mega-menu__title">BY GENRE</h3>

										<span class="separate-line"></span>

										<ul class="mega-menu__links">
											<li><a href="#">Portrait</a></li>
											<li><a href="#">Street</a></li>
											<li><a href="#">Travel</a></li>
											<li><a href="#">Lifestyle</a></li>
											<li><a href="#">Landscape</a></li>
											<li><a href="#">Product</a></li>
										</ul>
									</div>
								</div>

								<!-- Right content -->
								<div class="mega-menu__featured col-9 offset-1">
									<a href="#" class="featured-card">
										<div class="card-img">
											<img
												src="./assets/img/website/header/course-img-1.jpg"
												alt="Best selling cameras and lenses" />

											<div class="card-img__overlay">
												<div class="card-img__grid"></div>
												<div class="card-img__focus-points">
													<span></span><span></span><span></span> <span></span
													><span></span><span></span> <span></span><span></span
													><span></span>
												</div>
											</div>
										</div>

										<div class="featured-card__content">
											<h3 class="featured-card__title">
												Photography Fundamentals
											</h3>
											<p class="featured-card__count">Beginner · 6 Lessons</p>
										</div>
									</a>

									<a href="#" class="featured-card">
										<div class="card-img">
											<img
												src="./assets/img/website/header/course-img-2.jpg"
												alt="Best selling cameras and lenses" />

											<div class="card-img__overlay">
												<div class="card-img__grid"></div>
												<div class="card-img__focus-points">
													<span></span><span></span><span></span> <span></span
													><span></span><span></span> <span></span><span></span
													><span></span>
												</div>
											</div>
										</div>

										<div class="featured-card__content">
											<h3 class="featured-card__title">
												The Art of Portraiture
											</h3>
											<p class="featured-card__count">
												Intermediate · 8 Lessons
											</p>
										</div>
									</a>

									<a href="#" class="featured-card">
										<div class="card-img">
											<img
												src="./assets/img/website/header/course-img-3.jpg"
												alt="Best selling cameras and lenses" />

											<div class="card-img__overlay">
												<div class="card-img__grid"></div>
												<div class="card-img__focus-points">
													<span></span><span></span><span></span> <span></span
													><span></span><span></span> <span></span><span></span
													><span></span>
												</div>
											</div>
										</div>

										<div class="featured-card__content">
											<h3 class="featured-card__title">
												Finding Your Visual Style
											</h3>
											<p class="featured-card__count">Advanced · 5 Lessons</p>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="navbar__item">
					<a href="/gallery" class="navbar__link"> Gallery </a>
				</li>

				<li class="navbar__item">
					<a href="/news" class="navbar__link"> News </a>
				</li>
			</ul>
		</div>

		<!-- Right content -->
		<div class="navbar__actions">
			<button
				type="button"
				class="navbar__action navbar__action--search"
				aria-label="Search">
				Search
			</button>

			<button
				type="button"
				class="navbar__action navbar__action--search"
				aria-label="Search">
				Cart
			</button>

			<button
				type="button"
				class="navbar__action navbar__action--search"
				aria-label="Search">
				Login
			</button>

			<!-- <a href="/cart" class="navbar__cart">
				<span class="navbar__cart-label">Cart</span>

				<span class="navbar__cart-count" aria-label="2 items in cart"> 2 </span>
			</a> -->
		</div>
	</div>
</div>
