@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --text-color-primary: #000;
  --text-color-secondary: #9d9d9d;
  --background-gray: #f8f8f8;
  --border: #eaeaea;
}

html {
  font-size: 62.5%;
  background: #ccc;
}

body {
  height: 5000px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--text-color-primary);
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1310px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
.header {
  background-color: #fff;
  border-bottom: 1px solid var(--border);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}

.separate-line {
  display: block;
  width: 1.6rem;
  height: 1px;
  background-color: #000;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  justify-content: space-between;
}
.navbar__brand {
  display: flex;
}
.navbar__left, .navbar__menu, .navbar__actions, .navbar__item, .navbar__action, .navbar__cart, .navbar__link, .navbar__action--search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__left {
  gap: 6.4rem;
}
.navbar__left, .navbar__menu, .navbar__item {
  height: 100%;
}
.navbar__menu, .navbar__actions {
  gap: 3.2rem;
}
.navbar__item, .navbar__action, .navbar__cart {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 12%;
  font-weight: 600;
  text-align: center;
}
.navbar__link, .navbar__action {
  padding: 0 0.8rem;
}
.navbar__link, .navbar__action--search {
  gap: 0.4rem;
}
.navbar__link, .navbar__cart, .navbar__action {
  transition: all 0.3s ease;
}
.navbar__arrow img {
  transition: all 0.3s ease;
}
.navbar__cart-count {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: #000;
}
.navbar__cart {
  gap: 0.4rem;
}
.navbar__cart-count {
  font-family: "Sometype Mono", monospace;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.12rem;
  text-align: center;
}
.navbar__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mega-menu {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 48px 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.25s ease, visibility 0.25s ease;
  z-index: 100;
}
.mega-menu__categories {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.mega-menu__group, .mega-menu__links {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.2rem;
}
.mega-menu__links li a {
  display: block;
  width: 100%;
  color: var(--text-color-secondary);
  transition: all 0.3s ease;
}
.mega-menu__featured {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

.featured-card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.featured-card__img {
  flex: 1;
  min-height: 0;
  background-color: var(--background-gray);
}
.featured-card__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.5s ease;
}
.featured-card__content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: left;
}
.featured-card__count {
  font-family: "Sometype Mono", monospace;
  color: var(--text-color-secondary);
  font-weight: 600;
  line-height: 22.4px;
}
.featured-card:hover .featured-card__img img {
  transform: scale(1.05);
}

.navbar__item--has-dropdown:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.navbar__item--has-dropdown:hover .navbar__arrow img {
  transform: rotate(180deg);
}

.navbar__link:hover .navbar__arrow {
  filter: brightness(0) saturate(100%) invert(66%) sepia(1%) saturate(16%) hue-rotate(25deg) brightness(95%) contrast(93%);
}

.mega-menu__links li a:hover {
  color: var(--text-color-primary);
  transform: translateX(0.8rem);
}

.navbar__item:hover .navbar__link,
.navbar__action:hover,
.navbar__cart:hover {
  color: var(--text-color-secondary);
}

.card-img {
  flex: 1;
  min-height: 0;
  position: relative;
  overflow: hidden;
}
.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(0.9);
  transition: all 0.5s ease;
}
.card-img__overlay {
  position: absolute;
  inset: 0;
}
.card-img__grid {
  position: absolute;
  inset: 0;
}
.card-img__grid::before, .card-img__grid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: all 0.5s ease;
}
.card-img__grid::before {
  left: 33.33%; /* Đường dọc 1 */
}
.card-img__grid::after {
  left: 66.66%; /* Đường dọc 2 */
}
.card-img__grid {
  background-image: linear-gradient(to bottom, transparent calc(33.33% - 0.5px), rgba(255, 255, 255, 0.4) 33.33%, transparent calc(33.33% + 0.5px)), linear-gradient(to bottom, transparent calc(66.66% - 0.5px), rgba(255, 255, 255, 0.4) 66.66%, transparent calc(66.66% + 0.5px));
  opacity: 0;
  transition: all 0.5s ease;
}
.card-img__focus-points {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  opacity: 0;
}
.card-img__focus-points span {
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.15);
}

.card-img:hover img {
  filter: grayscale(0%) brightness(1);
  transform: scale(1.1);
}

.card-img:hover .card-img__grid {
  opacity: 1;
}

.card-img:hover .card-img__grid::before,
.card-img:hover .card-img__grid::after {
  opacity: 1;
}

.card-img:hover .card-img__focus-points {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
